@font-face
{
font-family: Ubuntu;
src: url('../fonts/Ubuntu-R.ttf');
}

body{
width: 95%;
margin: auto;
display: block;
font-family: 'Ubuntu';
}


#nav{
height: 50px;
position: fixed;
top: 0px;
background-color: white;
padding-bottom: 15px;
width: 95%;
border-bottom: solid #CCC8CA 2px;
z-index: 10;
}

#content{
margin-top: 90px;
}

#concept{
margin-left: 400px;
margin-top: 15px;
}

#path{
  margin-left: 40px;
  color: grey;
  font-size: 14px;
}

#concept_graph{
  padding-bottom: 100px;
  padding-top: 100px;
  width:70%;
  max-width: 700px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  line-height: 1;
}

#concept_graph a{
  text-decoration: none;
  opacity: 0.6;
}

#concept_graph a:hover{
  cursor: pointer;
  opacity: 1;
}

#bottom_subject{
  font-size: 40px;
  color: #071871;
}

#loading{
  margin-left: 20px;
}

#catalogue{
padding-top: 20px;
padding-left: 30px;
padding-bottom: 20px;
padding-right: 20px;
margin-left: 30px;
margin-bottom: 20px;
background-color: #efefef;
border-radius: 15px;
}

#catalogue_header{
  font-size: 14px;
  text-decoration: none;
  color: grey;
  margin-left: 30px;
  margin-top: 15px;
}

#catalogue_header a{
  font-style: italic;
  color: black;
  font-weight: bolder;
}

#catalogue_records li:hover, #catalogue_header a:hover{
  cursor: pointer;
  opacity: 0.7;
}

#catalogue_records{
  list-style-type: square;
  margin-left: 10px;
}

#catalogue_records a{
  color: black;
  font-size: 14px; 
}

.author{
  font-style: italic;
}

#equivalent a{
  color: grey;
  font-style: italic;
  text-decoration: none;

}

#equivalent a:hover{
  color: black;
}

#uri{
  color: #5339E6;
  text-decoration: none;
}

#nonprefered li{
  background:url(/static/img/sprite2.png) no-repeat 2px -52px;
  padding-left: 25px;
}

#top_concepts a, #broader a {
  background:url(/static/img/big_sprite.png) no-repeat -7px -64px;
}

#top_concepts a:hover, #broader a:hover{
  background:url(/static/img/big_sprite.png) no-repeat -7px -92px;
}

#narrower a, .search_result a{
  background:url(/static/img/big_sprite.png) no-repeat -7px -6px;
}

#narrower a:hover, .search_result a:hover{
  background:url(/static/img/big_sprite.png) no-repeat -7px -32px;
}

#related a{
  background:url(/static/img/big_sprite.png) no-repeat -7px -120px;
}
#related a:hover{
  background:url(/static/img/big_sprite.png) no-repeat -7px -148px;
}

#external_concepts div{
  margin-top: 15px;
}

#external_concepts a{
  background:url(/static/img/sprite2.png) no-repeat 2px 2px;
}

#external_concepts a:hover{
  background:url(/static/img/sprite2.png) no-repeat 2px -26px;
}

#left_nav{
  background-color: #efefef;
  border-radius: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 15px;
  width: 30%;
  max-width: 350px;
  padding-right: 20px;
  padding-left: 20px;
  float: left;
}

#left_nav ul a, #nonprefered li, .search_result a, #footer{
  padding-left: 25px;
  color: black;
  text-decoration: none;
  font-size: 14px;
}


#left_nav ul a:hover{
  cursor: pointer;
  font-weight: bold;
}

#functions{
  margin-top: 30px;
  text-decoration: underline;
}

#functions div{
margin-left: 20px;
margin-top: 5px;
font-size: 14px;
font-weight: bolder;
}

#functions a{
  color: black;
  margin-top: 10px;
}

#functions div:hover{
  opacity: 0.7;
  cursor: pointer;
}
/*#overlay{
display: none;
}*/

#semantic_tag_format, #skos_format{
  display:none;
  background-color: #FFFFFF;
  padding: 15px;
  font-size: 12px;
  border: solid #DBD3D6 7px;
  border-radius: 10px;
  margin-top: 25%;
  position: absolute;
  left: 25%;
}

#semantic_tag_format .description{
  font-size: 14px;
  font-weight: bolder;
}

.close{
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 16px;
}

.close:hover{
  cursor: pointer;
  opacity: 0.7;
}

.code{
  margin-top: 5px;
  margin-left: 15px;
}

.sublabel_small{
  font-weight: bold;
  margin-top: 10px;
}

#logoNTK, #logoPSH{
float:right;
margin-right: 20px;
padding-top: 15px;
}

#logoWikipedia{
float:right;
margin-right: 20px;
padding-top: 10px;
}

#search_result_table{
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  text-align: left;
}

#search_result_table td{
  vertical-align: top;
}

/*#katalog, #new_subject, #marc_format{
padding-top: 8px;
margin-left: 20px;
float: left;
}*/


#english, #czech{
padding-top: 17px;
opacity: 0.2;
margin-left: 20px;
margin-right: 0px;
float: left;
}

#english.active, #czech.active{
  opacity: 0.9;
}

#english.inactive, #czech.inactive{
  opacity: 0.2;
}

#english:hover, #czech:hover{
cursor: pointer;
}

#search{
float: left;
padding-top: 15px;
padding-left: 15px;
background-color: white;
}

#psh_suggest{
width: 250px;
font-size: 14px;
padding-left: 5px;
}

#search_title{
color: gray;
font-size: small;
font-style: italic;
}

.sublabel{
padding-left: 20px;
margin-top: 20px;
font-weight: bolder;
}

.title{
margin-top: 10px;
margin-left: 20px;
font-size: x-large;
font-weight: bolder;
}

ul{
list-style-type: none;
}

li{
margin-top: 5px;
}

#suggestedSubjects{
position: absolute;
background-color: white;
}

img{
border: none;
}

img:hover{
opacity: 0.5;
}

#footer{
  width: 100%;
  border-top: 1px solid grey;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 15px;
  clear: both;
}

#cc_logo{
  float: left;
}


* jQuery UI Autocomplete 1.8.10
 *
 * Copyright 2011, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Autocomplete#theming
 */
.ui-autocomplete { position: absolute; cursor: default; }	

/* workarounds */
* html .ui-autocomplete { width:1px; } /* without this, the menu expands to 100% in IE6 */

/*
 * jQuery UI Menu 1.8.10
 *
 * Copyright 2010, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Menu#theming
 */
.ui-menu {
	list-style:none;
	display:block;
	float: left;
        background-color: white;
        border-left: solid #7A7778 1px;
        border-right: solid #7A7778 1px;
        border-bottom: solid #7A7778 1px;
        border-radius: 5px;
        -moz-border-radius: 5px;
        padding:0;
        font-size: 13px;
        cursor: pointer;
}
.ui-menu .ui-menu {
	margin-top: -3px;
}
.ui-menu .ui-menu-item {
        padding-bottom: 2px;
	zoom: 1;
	float: left;
	clear: left;
	width: 100%;
}
.ui-menu .ui-menu-item a {
	text-decoration:none;
	display:block;
        padding-left: 8px;
	zoom:1;
        color: #8C8889;
}
.ui-menu .ui-menu-item a.ui-state-hover,
.ui-menu .ui-menu-item a.ui-state-active {
	font-weight: bolder;
        background-color: #E3DEE0;
        border-left: solid #7A7778 1px;
        border-right: solid #7A7778 1px;
	margin: -1px;
}

.ui-helper-hidden-accessible{
  display: none;
}

.ui-state-focus{
  background-color: #E3DEE0;
}

