/*@font-face {  
  font-family: "Univers55";
  src: url("../fonts/UniversCom-55Roman.ttf");
}

@font-face {  
  font-family: "Univers55";
  src: url("../fonts/UniversCom-65Bold.ttf");
  font-weight: bold;
}
@font-face {
    font-family: "Univers55";
    src: url("../fonts/UniversCom-45Light.ttf");
    font-style: italic;
}*/

body{
width: 95%;
margin: auto;
display: block;
font-family: Univers55, times, sans-serif;
}


#nav{
height: 50px;
position: fixed;
top: 0px;
background-color: white;
padding-bottom: 15px;
width: 95%;
border-bottom: solid gray 1px;
}

#content{
margin-top: 90px;
}

#visualization{
width: 60%;
margin-left: 33%;
margin-top: 15px;
}

#equivalent{
  color: grey;
  font-style: italic;
}

#uri{
  color: #5339E6;
  text-decoration: none;
}

#nonprefered li{
  background:url(/static/img/sprite2.png) no-repeat 2px -52px;
  padding-left: 25px;
}

#top_concepts a, #broader a {
  background:url(/static/img/big_sprite.png) no-repeat -7px -64px;
}

#top_concepts a:hover, #broader a:hover{
  background:url(/static/img/big_sprite.png) no-repeat -7px -92px;
}

#narrower a, .search_result a{
  background:url(/static/img/big_sprite.png) no-repeat -7px -6px;
}

#narrower a:hover, .search_result a:hover{
  background:url(/static/img/big_sprite.png) no-repeat -7px -32px;
}

#related a{
  background:url(/static/img/big_sprite.png) no-repeat -7px -120px;
}
#related a:hover{
  background:url(/static/img/big_sprite.png) no-repeat -7px -148px;
}

#scrollable ul a, #nonpreferred li, .search_result a{
  padding-left: 25px;
  color: black;
  text-decoration: none;
  font-size: 14px;
}

#scrollable ul a:hover{
  cursor: pointer;
  font-weight: bold;
}


#scroll_div{
overflow-x: hidden;
font-weight: normal;
margin-right: 40px;
margin-top: 0px;
float: left;
width: 350px;
border-right: solid gray 1px;
position: fixed;
}

#scrollable{
overflow: auto;
width: 350px;
padding-right: 20px; 
}

#logoNTK, #logoPSH{
float:right;
margin-right: 20px;
padding-top: 15px;
}

#logoWikipedia{
float:right;
margin-right: 20px;
padding-top: 10px;
}

#search_result_table{
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  text-align: left;
}

#search_result_table td{
  vertical-align: top;
}

/*#katalog, #new_subject, #marc_format{
padding-top: 8px;
margin-left: 20px;
float: left;
}*/


#english, #czech{
padding-top: 17px;
opacity: 0.2;
margin-left: 20px;
margin-right: 0px;
float: left;
}

#english.active, #czech.active{
  opacity: 0.9;
}

#english.inactive, #czech.inactive{
  opacity: 0.2;
}

#english:hover, #czech:hover{
cursor: pointer;
}

#search{
float: left;
padding-top: 15px;
padding-left: 15px;
background-color: white;
}

#psh_suggest{
width: 250px;
font-size: 14px;
padding-left: 5px;
}

#search_title{
color: gray;
font-size: small;
font-style: italic;
}

.sublabel{
padding-left: 20px;
margin-top: 20px;
font-weight: bolder;
}

.title{
margin-top: 10px;
margin-left: 20px;
font-size: x-large;
font-weight: bolder;
}

ul{
list-style-type: none;
}

table table{
width: 100%;
}

#searchResult{
border-radius: 15px;
-moz-border-radius: 15px;
background-color: #EDE8EA;
width: 50%;
padding-top: 10px;
padding-bottom: 10px;
}

li{
margin-top: 5px;
}

#suggestedSubjects{
position: absolute;
background-color: white;
}

img{
border: none;
}

img:hover{
opacity: 0.5;
}


* jQuery UI Autocomplete 1.8.10
 *
 * Copyright 2011, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Autocomplete#theming
 */
.ui-autocomplete { position: absolute; cursor: default; }	

/* workarounds */
* html .ui-autocomplete { width:1px; } /* without this, the menu expands to 100% in IE6 */

/*
 * jQuery UI Menu 1.8.10
 *
 * Copyright 2010, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Menu#theming
 */
.ui-menu {
	list-style:none;
	display:block;
	float: left;
        background-color: white;
        border-left: solid #7A7778 1px;
        border-right: solid #7A7778 1px;
        border-bottom: solid #7A7778 1px;
        border-radius: 5px;
        -moz-border-radius: 5px;
        padding:0;
        font-size: 13px;
        cursor: pointer;
}
.ui-menu .ui-menu {
	margin-top: -3px;
}
.ui-menu .ui-menu-item {
        padding-bottom: 2px;
	zoom: 1;
	float: left;
	clear: left;
	width: 100%;
}
.ui-menu .ui-menu-item a {
	text-decoration:none;
	display:block;
        padding-left: 8px;
	zoom:1;
        color: #8C8889;
}
.ui-menu .ui-menu-item a.ui-state-hover,
.ui-menu .ui-menu-item a.ui-state-active {
	font-weight: bolder;
        background-color: #E3DEE0;
        border-left: solid #7A7778 1px;
        border-right: solid #7A7778 1px;
	margin: -1px;
}

