<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <title>Prohlížení PSH</title>
    <link href='http://fonts.googleapis.com/css?family=PT+Serif:regular,italic,bold,bolditalic' rel='stylesheet' type='text/css' />
    <link href="/static/css/visualization.css" rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="/static/css/style.css" type="text/css" />
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/psh_scripts.js"></script>
    <script type="text/javascript" src="/static/js/excanvas.js"></script>
    <script type="text/javascript" src="/static/js/visualization.js"></script>
    <script type="text/javascript" src="/static/js/jquery-ui-1.8.10.custom.min.js"></script>
</head>
<script type="text/javascript">
</script>

<body>
<div id="nav">
<div id="search">
<form action="search" method="get" id="search_form">
<input type="text" id="psh_suggest" size="20" name="term"/>
<input type="hidden" id="language" name="lang" value="cs"/>
</form>
<div id="searchTitle">Vyhledávání - <span id="searchLanguage">čeština</div>
</div>
<a href="http://www.techlib.cz" target=blank><img id="logoNTK" src="/static/img/ntk_logo.png" title="Stránky NTK"/></a>
<a href="http://www.techlib.cz/cs/14-psh" target=blank><img id="logoPSH" src="/static/img/psh_logo.png" title="Stránky PSH"/></a>

<a href="http://cs.wikipedia.org/wiki/Antropologie" target=blank><img id="logoWikipedia" src="/static/img/wikipedia-logo.png" title="Odkaz na Wikipedii"/></a>

<img id="english" data-lang="cs" title="Vyhledávat v angličtině ANO/NE" src="/static/img/english.png" />

</div>
<div id="content">
{% block content %}{% endblock %}
</div>
</body>
</html>