{% extends 'base.html' %}

{% block content %}
<div id="scrollDiv">
    <div id="scrollable">
    <div id="gradient-top"></div>
        <div class="title">{{ concept.heslo }}</div>

        <div class="sublabel">URI: <a href="http://psh.ntkcz.cz/skos/{{ concept.id_heslo }}">http://psh.ntkcz.cz/skos/{{ concept.id_heslo }}</a></div>

        <div class="sublabel">Anglické znění</div>
        <ul id="ekvivalent">
            <li class="">{{ concept.ekvivalent }}</li>
        </ul>
        
        <div class="sublabel">Nepreferovaná znění</div>
    	<ul id="nonprefered">
        {% if concept.nepreferovany %}
            {% for heslo in concept.nepreferovany %}
                <li class="">{{ heslo }}</li>
            {% endfor %}
        {% else %}
            <li>-</li>
        {% endif %}
        </ul>

        <div class="sublabel">Nadřazené heslo</div>
        <ul id="broader">
        {% if concept.nadrazeny %}
            {% for heslo in concept.nadrazeny %}
                <li class="clickable"><a href="{{heslo.id_heslo}}">{{ heslo.heslo }}</a></li>
            {% endfor %}
        {% else %}
            <li>-</li>
        {% endif %}
        </ul>
        
        <div class="sublabel">Příbuzná hesla</div>
    	<ul id="related">
        {% if concept.pribuzny %}
            {% for heslo in concept.pribuzny %}
                <li class="clickable"><a href="{{heslo.id_heslo}}">{{ heslo.heslo }}</a></li>
            {% endfor %}
        {% else %}
            <li>-</li>
        {% endif %}
        </ul>
        
        <div class="sublabel">Podřazená hesla</div>
    	<ul id="narrower">
        {% if concept.podrazeny %}
            {% for heslo in concept.podrazeny %}
                <li class="clickable"><a href="{{heslo.id_heslo}}">{{ heslo.heslo }}</a></li>
            {% endfor %}
        {% else %}
            <li>-</li>
        {% endif %}
        </ul>
    </div>
</div>
<script>
    var vis = new PSH.Visualization("visualization",
        {"id_concept": "{{ concept.id_heslo }}", "lang": "en"}// Volitelně objekt s atributy "id_concept" nebo "lang". Pokud není poskytnut, defaultně se tyto údaje vezmou z URI.
    );
    vis.load(
        "vis.display", // Název callbackové funkce, který musí být ve tvaru "{název proměnné instance}.display"
        {} // Volitelně objekt s atributy "data" (objekt obsahující GET parametry) nebo "url". 
         // Pokud není poskytnut, pak se defaultně vezme nastavení pro službu http://data.ntkcz.cz/prohlizeni_psh/getjson
);
</script>
<!-- <div id="visualization">{% autoescape off %}{{ concept }}{% endautoescape %}</div> -->
<div id="visualization"></div>
{% endblock %}
