{% extends 'base.html' %}

{% block content %}
    <div id="left_nav">
        <div class="title" id="heslo">{{ concept.heslo }}</div>

        <div class="sublabel">URI: <a id="uri" href="http://psh.ntkcz.cz/skos/{{ concept.id_heslo }}/en">http://psh.ntkcz.cz/skos/{{ concept.id_heslo }}/en</a></div>

        <div class="sublabel">Czech equivalent: <span id="equivalent"><a href="/prohlizeni_psh/skos/{{concept.id_heslo}}">{{ concept.ekvivalent }}</a></span></div>
        
        {% if concept.nepreferovany.en %}
        <div class="sublabel">Nonpreferred labels</div>
    	<ul id="nonprefered">
            {% for heslo in concept.nepreferovany.en %}
                <li class="">{{ heslo }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        <div class="sublabel">Broader concept</div>
        <ul id="broader">
        {% if concept.nadrazeny %}
            {% for heslo in concept.nadrazeny %}
                <li class="clickable"><a href="/prohlizeni_psh/skos/{{heslo.id_heslo}}/en">{{ heslo.heslo }}</a></li>
            {% endfor %}
        {% else %}
            <li class="clickable"><a href="/prohlizeni_psh/skos/en">Top concepts</a></li>
        {% endif %}
        </ul>
        
        {% if concept.pribuzny %}
        <div class="sublabel">Related concepts</div>
    	<ul id="related">
            {% for heslo in concept.pribuzny %}
                <li class="clickable"><a href="/prohlizeni_psh/skos/{{heslo.id_heslo}}/en">{{ heslo.heslo }}</a></li>
            {% endfor %}
        </ul>
        {% endif %}
        

        {% if concept.podrazeny %}
        <div class="sublabel">Narrower concepts</div>
    	<ul id="narrower">
            {% for heslo in concept.podrazeny %}
                <li class="clickable"><a href="/prohlizeni_psh/skos/{{heslo.id_heslo}}/en">{{ heslo.heslo }}</a></li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>

<div id="concept" data-subject_id="{{ concept.id_heslo }}">
    <div id="concept_graph">
    {% if concept.podrazeny %}
        {% for heslo in concept.podrazeny %}
                <a href="/prohlizeni_psh/skos/{{heslo.id_heslo}}/en" rel="{{ heslo.pocet }}">{{ heslo.heslo }}</a>
        {% endfor %}
    {% else %}
        <div id="bottom_subject">{{ concept.heslo }}</div>
    {% endif %}
    </div>
    <div id="catalogue">
        <div class="title">Catalogue of National technical library</div>
    </div>
</div>
{% endblock %}
