{% extends 'base.html' %}

{% block content %}
<!-- <div id="scroll_div"> -->
    <div id="scrollable">
        <div class="title" id="heslo">{{ concept.heslo }}</div>

        <div class="sublabel">URI: <a id="uri" href="http://psh.ntkcz.cz/skos/{{ concept.id_heslo }}">http://psh.ntkcz.cz/skos/{{ concept.id_heslo }}</a></div>

       <div class="sublabel">Anglický ekvivalent: <span id="equivalent">{{ concept.ekvivalent }}</span></div>
        
        {% if concept.nepreferovany %}
        <div class="sublabel">Nepreferovaná znění</div>
    	<ul id="nonprefered">
            {% for heslo in concept.nepreferovany %}
                <li>{{ heslo }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        {% if concept.nadrazeny %}
        <div class="sublabel">Nadřazené heslo</div>
        <ul id="broader">
            {% for heslo in concept.nadrazeny %}
                <li class="clickable"><a href="/skos/{{heslo.id_heslo}}">{{ heslo.heslo }}</a></li>
            {% endfor %}
        </ul>
        {% endif %}
        
        {% if concept.pribuzny %}
        <div class="sublabel">Příbuzná hesla</div>
    	<ul id="related">
            {% for heslo in concept.pribuzny %}
                <li class="clickable"><a href="/skos/{{heslo.id_heslo}}">{{ heslo.heslo }}</a></li>
            {% endfor %}
        
        </ul>
        {% endif %}
        
        {% if concept.podrazeny %}
        <div class="sublabel">Podřazená hesla</div>
    	<ul id="narrower">
            {% for heslo in concept.podrazeny %}
                <li class="clickable"><a href="/skos/{{heslo.id_heslo}}">{{ heslo.heslo }}</a></li>
            {% endfor %}
        </ul>
        {% endif %}
        <div id="hidden"></div>
    </div>
<!-- </div> -->

<div id="concept" data-subject_id="{{ concept.id_heslo }}">
    <div id="concept_graph">
    {% if concept.podrazeny %}
        {% for heslo in concept.podrazeny %}
                <a href="/skos/{{heslo.id_heslo}}" rel="{{ heslo.pocet }}">{{ heslo.heslo }}</a>
        {% endfor %}
    {% else %}
        <div id="bottom_subject">{{ concept.heslo }}</div>
    {% endif %}
    </div>
    <div id="catalogue">
        <div class="title">Katalog Národní technické knihovny</div>
    </div>
</div>


{% endblock %}
