{% extends 'base.html' %}

{% block content %}
<div id="nav">
<div id="search">
<form action="/skos/search" method="get" id="search_form">
<input type="text" id="psh_suggest" size="20" name="term"/>
<input type="hidden" id="language" name="lang" value="en"/>
</form>
<div id="search_title">Search</div>
</div>
<a href="http://www.techlib.cz" target=blank><img id="logoNTK" src="/static/img/ntk_logo.png" title="Stránky NTK"/></a>
<a href="http://www.techlib.cz/cs/14-psh" target=blank><img id="logoPSH" src="/static/img/psh_logo.png" title="Stránky PSH"/></a>

<!-- <div id="logoWikipedia">Prohlížení</div> -->

<!-- <a href="http://cs.wikipedia.org/wiki/Antropologie" target=blank><img id="logoWikipedia" src="/static/img/wikipedia-logo.png" title="Odkaz na Wikipedii"/></a> -->

<a href="/skos/{{ concept.id_heslo }}"><img id="czech" class="inactive" src="/static/img/czech_flag.png" /></a>
<a href="/skos/{{ concept.id_heslo }}/en"><img id="english" class="active" src="/static/img/english_flag.png" /></a>

</div>
<div id="scroll_div">
    <div id="scrollable">
        <div class="title">{{ concept.heslo }}</div>

        <div class="sublabel">URI: <a id="uri" href="http://psh.ntkcz.cz/skos/{{ concept.id_heslo }}/en">http://psh.ntkcz.cz/skos/{{ concept.id_heslo }}/en</a></div>

        <div class="sublabel">Czech equivalent: <span id="equivalent">{{ concept.ekvivalent }}</span></div>
        
        {% if concept.nepreferovany %}
        <div class="sublabel">Nonpreferred labels</div>
    	<ul id="nonprefered">
            {% for heslo in concept.nepreferovany %}
                <li class="">{{ heslo }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        {% if concept.nadrazeny %}
        <div class="sublabel">Broader concept</div>
        <ul id="broader">
            {% for heslo in concept.nadrazeny %}
                <li class="clickable"><a href="/skos/{{heslo.id_heslo}}/en">{{ heslo.heslo }}</a></li>
            {% endfor %}
        </ul>
        {% endif %}
        
        {% if concept.pribuzny %}
        <div class="sublabel">Related concepts</div>
    	<ul id="related">
            {% for heslo in concept.pribuzny %}
                <li class="clickable"><a href="/skos/{{heslo.id_heslo}}/en">{{ heslo.heslo }}</a></li>
            {% endfor %}
        </ul>
        {% endif %}
        

        {% if concept.podrazeny %}
        <div class="sublabel">Narrower concepts</div>
    	<ul id="narrower">
            {% for heslo in concept.podrazeny %}
                <li class="clickable"><a href="/skos/{{heslo.id_heslo}}/en">{{ heslo.heslo }}</a></li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
</div>
<script>
    var vis = new PSH.Visualization("visualization",
        {"id_concept": "{{ concept.id_heslo }}", "lang": "en"}// Volitelně objekt s atributy "id_concept" nebo "lang". Pokud není poskytnut, defaultně se tyto údaje vezmou z URI.
    );
    vis.load(
        "vis.display", // Název callbackové funkce, který musí být ve tvaru "{název proměnné instance}.display"
        {} // Volitelně objekt s atributy "data" (objekt obsahující GET parametry) nebo "url". 
         // Pokud není poskytnut, pak se defaultně vezme nastavení pro službu http://data.ntkcz.cz/prohlizeni_psh/getjson
);
</script>
<!-- <div id="visualization">{% autoescape off %}{{ concept }}{% endautoescape %}</div> -->
<div id="visualization"></div>
{% endblock %}
