{% extends 'base.html' %}

{% block content %}
<div id="scrollDiv">
    <div id="scrollable">
    <div id="gradient-top"></div>
        <div class="title">Hlavní hesla</div>
    	<ul id="top_concepts">
        {% for heslo in hesla %}
            <li class="clickable"><a href="http://data.ntkcz.cz/prohlizeni_psh/{{heslo.id_heslo}}">{{ heslo.heslo }}</a></li>
        {% endfor %}
        </ul>
    </div>
</div>
<div id="concept">{% autoescape off %}{{ concept }}{% endautoescape %}</div>
{% endblock %}
