{% extends 'base.html' %}

{% block content %}
<div id="nav">
<div id="search">
<form action="/skos/search" method="get" id="search_form">
<input type="text" id="psh_suggest" size="20" name="term"/>
<input type="hidden" id="language" name="lang" value="cs"/>
</form>
<div id="search_title">Vyhledávání</div>
</div>
<a href="http://www.techlib.cz" target=blank><img id="logoNTK" src="/static/img/ntk_logo.png" title="Stránky NTK"/></a>
<a href="http://www.techlib.cz/cs/14-psh" target=blank><img id="logoPSH" src="/static/img/psh_logo.png" title="Stránky PSH"/></a>

<!-- <a href="http://cs.wikipedia.org/wiki/Antropologie" target=blank><img id="logoWikipedia" src="/static/img/wikipedia-logo.png" title="Odkaz na Wikipedii"/></a> -->

<a href="/skos/"><img id="czech" class="active" src="/static/img/czech_flag.png" /></a>
<a href="/skos/en"><img id="english" class="inactive" src="/static/img/english_flag.png" /></a>

</div>
<div id="scrollDiv">
    <div id="scrollable">
    <div id="gradient-top"></div>
        <div class="title">Hlavní hesla</div>
    	<ul id="top_concepts">
        {% for heslo in hesla %}
            <li class="clickable"><a href="{{heslo.id_heslo}}">{{ heslo.heslo }}</a></li>
        {% endfor %}
        </ul>
    </div>
</div>
<div id="concept">{% autoescape off %}{{ concept }}{% endautoescape %}</div>
{% endblock %}
