{% extends 'base.html' %}

{% block content %}
    <div id="left_nav">
        <div class="title">Top concepts</div>
    	<ul id="top_concepts">
        {% for heslo in hesla %}
            <li class="clickable"><a href="{{heslo.id_heslo}}/en">{{ heslo.ekvivalent }}</a></li>
        {% endfor %}
        </ul>
    </div>

    <div id="concept">
        <div id="concept_graph">
            {% for heslo in hesla %}
                    <a href="{{heslo.id_heslo}}/en" rel="{{ heslo.pocet }}">{{ heslo.ekvivalent }}</a>
            {% endfor %}
        </div>
    </div>
{% endblock %}
